
.btn-single{
    width: 120px;
    height: 34px;
    background: linear-gradient(90deg, #48825B 0%, #FFC700 100%);
    border-radius: 24px;
    color: #FFFFFF;


    &-div{
        padding-right: 10px;
    }

}