.footer{
    width: 100%;
    height: 100vh;
    background-color: #395D5A;
    background-image: url(../../images/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;


    &-content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        
        @media only screen and (max-width:700px){

            flex-direction: column;
            
        }         
        

        .left-section{
            width: 30%;
            height: 40%;
// background-color: yellow;

            @media only screen and (max-width:1000px){

                width: 25%;
                height: 30%;
            }

            @media only screen and (max-width:700px){

                width: 40%;
            }

        }

        .logo-card{
            width: 100%;
            height: 70%;
            background: #FFFFFF;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;

            img{
                width: 70%;
            }
        }

        .icon-div{
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            
            @media only screen and (max-width:1000px){

                height: 20%;
            }

            img{
                width: 13%;

                
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }



        .right-section{
            height: 60%;
            width: 50%;
            border-left: 1px solid #FFFFFF;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 60px;
            //  background-color: rgb(161, 161, 142);



            @media only screen and (max-width:700px){

                height: 35%;
                margin-left: 0px;
                
            } 

            @media only screen and (max-width:1000px){

                margin-left: 30px;
                border: none;
            }

            .list-1{

                @media only screen and (max-width:1000px){

                    padding-left: 0px;
                }
            }

            ul{
                list-style: none;
                padding-left: 70px;

                @media only screen and (max-width:1000px){

                    padding-left: 30px;
                }



                .list-heading{
                    font-weight: 600;
                    font-size: 2.4rem;
                    line-height: 28px;
                    color: #FFFFFF;
                    margin-bottom: 50px;

                    @media only screen and (max-width:1000px){

                        font-weight: 500;
                        font-size: 2rem;
                        margin-bottom: 25px;
                        line-height: 21px;
                    }
                    }

                    .span{
                        width: 101px;

                    }

                    li{

                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        padding-bottom: 11px;
                        width: 15rem;
                  

                        @media only screen and (max-width:1000px){

                            font-weight: 400;
                            font-size: 15px;
                            width: auto;
                        
                        }

                        a{
                            text-decoration: none;
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
            }

        }
  
    }

.copyright{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    position: absolute;
    bottom: 5%;
    right: 20%;
}

}    



