.footer {
  width: 100%;
  height: 100vh;
  background-color: #395D5A;
  background-image: url(../../images/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-content .left-section {
  width: 30%;
  height: 40%;
}

@media only screen and (max-width: 1000px) {
  .footer-content .left-section {
    width: 25%;
    height: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .footer-content .left-section {
    width: 40%;
  }
}

.footer-content .logo-card {
  width: 100%;
  height: 70%;
  background: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5%;
}

.footer-content .logo-card img {
  width: 70%;
}

.footer-content .icon-div {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .footer-content .icon-div {
    height: 20%;
  }
}

.footer-content .icon-div img {
  width: 13%;
}

.footer-content .icon-div img:not(:last-child) {
  margin-right: 15px;
}

.footer-content .right-section {
  height: 60%;
  width: 50%;
  border-left: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 60px;
}

@media only screen and (max-width: 700px) {
  .footer-content .right-section {
    height: 35%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-content .right-section {
    margin-left: 30px;
    border: none;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-content .right-section .list-1 {
    padding-left: 0px;
  }
}

.footer-content .right-section ul {
  list-style: none;
  padding-left: 70px;
}

@media only screen and (max-width: 1000px) {
  .footer-content .right-section ul {
    padding-left: 30px;
  }
}

.footer-content .right-section ul .list-heading {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  .footer-content .right-section ul .list-heading {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 25px;
    line-height: 21px;
  }
}

.footer-content .right-section ul .span {
  width: 101px;
}

.footer-content .right-section ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 11px;
  width: 15rem;
}

@media only screen and (max-width: 1000px) {
  .footer-content .right-section ul li {
    font-weight: 400;
    font-size: 15px;
    width: auto;
  }
}

.footer-content .right-section ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  position: absolute;
  bottom: 5%;
  right: 20%;
}
/*# sourceMappingURL=styleFooter.css.map */