.blank{
height: 15vh;
}
.section-3{
    height: 130vh;      
    position: relative;
    // z-index: -1;


    &-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;       
    }


 

    &-video-div{
        display: flex;
        justify-content: center;
        margin: 70px 0 60px 0;
    }

    &-video{
        width: 25%;
        border-radius: 7px;
        opacity: .88;

        &:not(:last-child){
            margin-right: 40px; }
    }


}




.clip-background{
    height: 130vh;
    width: 100%;
    background-color: rgba(57, 93, 90, 0.1);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 46%, 100% 71%, 100% 100%, 0 76%);
}




//global text 

.primary-textbox{
    max-width: 65%;
    color: #395D5A;


}
.primary-heading{
    font-weight: 600;
    font-size: 48px;
    display: inline-block;
}

.primary-para{
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;

    &:not(:last-child){
        padding:15px 0 20px 0;
    }
}