html{
    font-size: 62.5%;  //thats mean 1 rem = 10px



}





*{
    // font-size: 62.5%;

    @media only screen and (max-width:62.5em){        //  > 1000px
        font-size: 80%;
    }

    @media only screen and (max-width:500px){        
        font-size: 65%;
    }
}